$color-background: #EDF2EC;
$color-light: #FFFFFF;
$color-links: #010201;
$color-primary: #499A18;
$color-aditional: #E06733;
$color-heading: #717171;
$color-text: #636060;

$content-width: 1220px;
$tablet-width: 768px;
$mobile-big-width: 380px;
$mobile-small-width: 320px;

$font-aditional:'Inika', Verdana, sans-serif;