.button {
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: $font-aditional;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    background-color: $color-background;
    width: 161px;
    border: 1px solid #E06733;
    border-radius: 5px;
    cursor: pointer;
        &:hover {
        background-color:$color-aditional;
        color: $color-light;
        @extend %transition
    }

    &_light {
        background-color: $color-light;
    }
    @include media-mobile {
        font-size: 15px;
        line-height: 20px;
        padding: 7px 0px;
        width: 120px;
    }
}

.button__bordered {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 158px;
    border: 2px solid $color-aditional;
    border-radius: 10px;
    margin-top: 45px;
    @include media-tablet {
        margin-top: 37px;
    }
    @include media-mobile {
        font-size: 10px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 20px;
        width: 100px;
        height: 34px;
        margin-top: 5px;
    }
    
}

.button-acordeon {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    border-radius: 20px;
    background-color: $color-background;
    border: 0;
    padding: 15px 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;


    color: #000000;
    @include media-mobile {
        font-size: 15px;
        line-height: 20px;
        width: 180px;
    }
}