.ico {
    display: inline-block;
    width: 16px;
    height: 17px;
    vertical-align: middle;
}

.ico__light {
    background-image: url(../img/prices/accordion_btn.svg);
}

.ico__dark {
    background-image: url(../img/contacts/accordion_btn\ \(1\).svg );
}